// Fonts
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo {
    height: 25px; 
    border-right: 1px solid #333;
}

.profile-image {
    height: 150px;
    width: 150px;
}

.follow-link {
   text-decoration: none; 
}

.search 
{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    min-height: 94vh;
}

body {
    margin: 0;
    padding: 0;
}

.cont {
    width: 50%;
    background-color: #1E1E24;
}

.allBtn {
    background-color: #25262E; /* Set default background color */
    border-color: #BFCDE0; /* Set default border color */
    color: white; /* Set default text color */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.allBtn:hover {
    background-color: #BFCDE0 !important; /* Change background color on hover */
    border-color: #BFCDE0; /* Change border color on hover */
    color: black; /* Change text color on hover if needed */
}

.d-grid a {
    color: #BFCDE0;
}

.d-grid a:hover {
    color: #abb8c9;
}

.posts a {
    color: white;
    text-decoration: none;
}

.posts a:hover {
    color: #BFCDE0;
}

hr {
    border-color: #BFCDE0;
}

.dropdownDiv {
    background-color: #1E1E24;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.dropdownDiv a {
    color: white;
}

.dropdownDiv a:hover {
    background-color: #BFCDE0;
    color: black;
}

.form-check-input:checked {
    background-color: #BFCDE0;
    border-color: #BFCDE0;
    box-shadow: 0 0 0 0.1rem #abb8c9; /* Set box shadow color to #BFCDE0 */
}

/* Style for the checkbox input when not checked */
.form-check-input:not(:checked) {
    box-shadow: 0 0 0 0.1rem #abb8c9; /* Set box shadow color to #BFCDE0 */
}

.form-check-input {
    /* Default styles for the checkbox */
    background-color: #25262E;
    border-color: #BFCDE0;
}

.searchResults {
    background-color: #1E1E24;
    color: white;
}

.searchResults a {
    color: white;
}

.searchResults a:hover {
    color: #BFCDE0;
}

.navbar-toggler-icon {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
}

.navbar-toggler {
    border-color: #BFCDE0 !important;
    box-shadow: none !important;
    background-color: white;
}